.App {
  text-align: center;
}

.App-header {
  background-color: #28963c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  padding: 10px 0;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.library {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 1fr;
}

.bookshelf {
  padding: 0 10px 20px;
}

.bookshelf-title {
  text-align: left;
  border-bottom: 1px solid #dedede;
}

.books {
  display: flex;
  justify-content: center;
}
